<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-white text-dark">  <!--class for card, add - for the sub element in it , like card-title -->
                <h5 class="card-title">NestJS</h5> <!--  we use designated tags , like p for paragraph-->
                <div class="progress">
                    <span>API</span>
                    <div class="progress-bar" aria-valuenow="4.5" aria-valuemax="5"></div>
                </div>
            </div>
        </div>
       
    </div>

</div>