<div class="container">
    <!-- header is a html 5 tag -->
    <header id="main-header">
        <!-- no gutters says no spacing -->
        <div class="row no-gutters">
            <div class="col-md-3">
                <!-- must include from assets -->
                <img class="" src="assets/images/portfolio/PrC.jpg" />
            </div>
            <div class="col-md-9">
                <div class="d-flex flex-column">
                    <div class="p-5 bg-dart text-white">
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <h4 class="display-4">
                                <!-- If you give extra spaces bewtween words , it will still take one  -->
                                Prashant  Chouhan   
                            </h4>
                            <div>
                                <a href="http://twitter.com" class="text-white">
                                    <!-- fa fa- is for icons -->
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <div>
                                <a href="http://linkedin.com" class="text-white">
                                    <!-- fa fa- is for icons -->
                                    <i class="fa fa-linked"></i>
                                </a>
                            </div>
                            <div>
                                <a href="http://github.com" class="text-white">
                                    <!-- fa fa- is for icons -->
                                    <i class="fa fa-github"></i>
                                </a>
                            </div>
                            <div>
                                <a href="http://twitter.com" class="text-white">
                                    <!-- fa fa- is for icons -->
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center bg-dark">
                    <span class="text-white align-items-right">Full Stack Developer</span>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center bg-dark">
                    <!-- data toggle and data-target is used for collapse, collapse is a way, data-target values to the section id -->
                        <div class="port-item p-4 bg-success" data-toggle="collapse" data-target="#home">
                            <i class="fa fa-home"></i>
                            <span class="text-blue">Home</span>
                        </div>
                        <div class="port-item p-4 bg-primary" data-toggle="collapse" data-target="#use-cases">
                            <i class="fa fa-home"></i>
                            <span class="text-blue">Use-Cases</span>
                        </div>
                        <div class="port-item p-4 bg-primary" data-toggle="collapse" data-target="#experience">
                            <i class="fa fa-home"></i>
                            <span class="text-blue">Experience</span>
                        </div>
                        <div class="port-item p-4 bg-primary" data-toggle="collapse" data-target="#contributions">
                            <i class="fa fa-home"></i>
                            <span class="text-blue">Open Source Contributions</span>
                        </div>
                </div>
                </div>
        </div>
    </header> 

    <!-- HOME -->
    <div id="home" class="collapse show row">
        <div class="col-md-4 card card-body">
            <h3 class="card-title">NestJS</h3>
            <img src="/assets/images/skills/nestjs.png" />
            <div class="card-text">
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">NestJS</div>
            </div>
        </div>
        <div class="col-md-4 card card-body">
            <h3 class="card-title">NestJS</h3>
            <img src="/assets/images/skills/nestjs.png" />
            <div class="card-text">
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">NestJS</div>
            </div>
        </div>
        <div class="col-md-4 card card-body">
            <h3 class="card-title">NestJS</h3>
            <img src="/assets/images/skills/nestjs.png" />
            <div class="card-text">
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">NestJS</div>
            </div>
        </div>
        <div class="col-md-4 card card-body">
            <h3 class="card-title">NestJS</h3>
            <img src="/assets/images/skills/nestjs.png" />
            <div class="card-text">
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">NestJS</div>
            </div>
        </div>
    </div>
    <!-- USE-CASES -->
    <div id="use-cases" class="collapse row">
        <div class="col-md-4 card card-body">
            <h3 class="card-title">NestJS</h3>
            <img src="/assets/images/skills/nestjs.png" />
            <div class="card-text">
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">NestJS</div>
            </div>
        </div>
        <div class="col-md-4 card card-body">
            <h3 class="card-title">NestJS</h3>
            <img src="/assets/images/skills/nestjs.png" />
            <div class="card-text">
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">NestJS</div>
            </div>
        </div>
        <div class="col-md-4 card card-body">
            <h3 class="card-title">NestJS</h3>
            <img src="/assets/images/skills/nestjs.png" />
            <div class="card-text">
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">NestJS</div>
            </div>
        </div>
        <div class="col-md-4 card card-body">
            <h3 class="card-title">NestJS</h3>
            <img src="/assets/images/skills/nestjs.png" />
            <div class="card-text">
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">NestJS</div>
            </div>
        </div>
    </div>
    <!-- EXPERIENCE -->
    <div id="experience" class="collapse row">
        <div class="col-md-4 card card-body">
            <h3 class="card-title">NestJS</h3>
            <img src="/assets/images/skills/nestjs.png" />
            <div class="card-text">
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">NestJS</div>
            </div>
        </div>
        <div class="col-md-4 card card-body">
            <h3 class="card-title">NestJS</h3>
            <img src="/assets/images/skills/nestjs.png" />
            <div class="card-text">
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">NestJS</div>
            </div>
        </div>
        <div class="col-md-4 card card-body">
            <h3 class="card-title">NestJS</h3>
            <img src="/assets/images/skills/nestjs.png" />
            <div class="card-text">
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">NestJS</div>
            </div>
        </div>
        <div class="col-md-4 card card-body">
            <h3 class="card-title">NestJS</h3>
            <img src="/assets/images/skills/nestjs.png" />
            <div class="card-text">
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">NestJS</div>
            </div>
        </div>
    </div>
    <!-- CONTRIBUTIONS -->
    <div id="contributions" class="collapse row">
        <div class="col-md-4 card card-body">
            <h3 class="card-title">NestJS</h3>
            <img src="/assets/images/skills/nestjs.png" />
            <div class="card-text">
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">API</div>
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">Code Constructs</div>
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">REST</div>
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">NestJS</div>
            </div>
        </div>
        <div class="col-md-4 card card-body">
            <h3 class="card-title">NestJS</h3>
            <img src="/assets/images/skills/nestjs.png" />
            <div class="card-text">
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">API</div>
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">Code Constructs</div>
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">API</div>
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">API</div>
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">API</div>
            </div>
        </div>
        <div class="col-md-4 card card-body">
            <h3 class="card-title">NestJS</h3>
            <img src="/assets/images/skills/nestjs.png" />
            <div class="card-text">
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">NestJS</div>
            </div>
        </div>
        <div class="col-md-4 card card-body">
            <h3 class="card-title">NestJS</h3>
            <img src="/assets/images/skills/nestjs.png" />
            <div class="card-text">
                <div class="progress-bar" aria-valuenow="4" aria-valuemax="5">NestJS</div>
            </div>
        </div>
    </div>
    <!-- item-color combination for class -->
    <footer id="main-footer" class="bg-dark">  
        <!-- do the outline light -->
        <a href="/resume/download" class="btn btn-outline-light">
            <i class="fa fa-download"></i>Download Resume
        </a> 
        <a href="/resume/email" class="btn btn-outline-light">
            <i class="fa fa-envelope"></i>Email Resume
        </a> 
    </footer>
    
    
</div>


